<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Add Post</title>
	</head>
	<body>
		<form th:action="@{/savePost}" th:object="${post}" method="post">
			<input type="hidden" name="id" th:value="${post.id}" >
			<label>Title</label>
			<input type="text" name="title" th:value="${post?.title}"/>
			<label>Author</label>
			<input type="text" name="author" th:value="${post?.author}"/>
			<label>Content</label>
			<input id="textarea" type="text" name="content" th:value="${post?.content}"/>
			<label>Tag</label>
			<input type="text" name="tag" th:value="${tags}">
			<button type="submit" value="submit">submit</button>
		</form>
	</body>