<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Blog Dashboard</title>
	</head>
	<body>
		<div align="center">
			<h1>Blogs</h1>
			<table border="1">
				<thead>
					<tr>
						<th>
							<a th:href="'/page/'+${currentPage}+'?sortField=title&sortDirection='+${reverseSortDirection}">
								Title</a>
							</th>
						<th>
							<a th:href="'/page/'+${currentPage}+'?sortField=author&sortDirection='+${reverseSortDirection}">
								Author</a>
							</th>
						<th>
							<a th:href="'/page/'+${currentPage}+'?sortField=excerpt&sortDirection='+${reverseSortDirection}">
								Excerpt</a>
								</th>
						<th>
							<a th:href="'/page/'+${currentPage}+'?sortField=publishedAt&sortDirection='+${reverseSortDirection}">
								Date Published</a>
								</th>
						<th>Tag</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${listPosts} ">
						<td th:text="${post.title}"></td>
						<td th:text="${post.author}"></td>
						<td th:text="${post.excerpt}"></td>
						<td th:text="${post.publishedAt}"></td>
						<td>
							<table>
								<tr th:each="tag : ${post.tags}">
									<td th:text="${tag.name}"></td>
								</tr>
							</table>
						</td>
						<td>
								<a th:href="@{/viewPost/{id}(id=${post.id})}">View</a>
						</td>
					</tr>
					<tr>
						<br><br>
						<form action="/searchPost" method="get">
							<input type="text" placeholder="Search.." name="search">
							<select name="category">
							  <option value="title">-</option>
							  <option value="title">title</option>
							  <option value="author">author</option>
							  <option value="tag">tag</option>
							</select>
							<button type="submit" value="submit">submit</button>
						</form>
						<br><br>
						<br><br>
						<form action="/addPost">
							<button type="submit" value="submit">Add Post</button>
						</form> <br><br>
					</tr>
				</tbody>
			</table>
			<div th:if = "${totalPages>1}">
					<a th:if="${currentPage>1}" 
					th:href="@{'/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDirection='+${sortDirection}}">Prev</a>
					<span th:unless="${currentPage>1}")>Prev</span> &nbsp;&nbsp;
					
					<span th:each="i: ${#numbers.sequence(1,totalPages)}">
						<a th:if="${currentPage != i}" 
						th:href="@{'/page/'+${i}+'?sortField='+${sortField}+'&sortDirection='+${sortDirection}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
						</form>
					</span>
					
					<a th:if="${currentPage<totalPages}" 
					th:href="@{'/page/'+${currentPage+1}+'?sortField='+${sortField}+'&sortDirection='+${sortDirection}}">Next</a>
					<span th:unless="${currentPage<totalPages}")>Next</span>
			</div>
		</div>
	</body>
</html>